/* css reset    */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{

}

header{
    background-color: #1f2937;
    padding: 0 160px;
}
/* header navigation */

/* main navigation */
header .main-nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.main-nav .head-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

header .head-link{
    list-style: none;
    
}

header .head-link li{
    display: inline;
    padding: 0 10px;
}

li a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* header information */

header .slider{
    display: flex;
    height: 440px;
    padding: 100px 0;
}

.slider-content{
    width: 50%;
    padding-right: 70px;
    color: #f9faf8;
}

.slider-title{
    font-size: 48px;
    font-weight: bold;
    
}

.slider-content .desc{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
    text-align: left;
}

.slider-content .btn{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.slider-img{
    width: 50%;
    text-align: center;
    background-color: #b9b7b7;
}

.slider-img .img{
    
}

/* main content */

main{
    
}

.introduce{
    text-align: center;
    padding-bottom: 100px;
    margin: 0 160px;
}

.intro-list{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.intro-title{
    font-size: 25px;
    font-weight: 1000;
    margin: 40px 0;
}

/* each object in list */
.intro-content{
    width: 150px;
}

.intro-img{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* advice phrase */

.advice-phrase{
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.advice-phrase .phrase{
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.advice-phrase .author{
    float: right;
    font-size: 20px;
}
